<div id="<%= dom_id respondido %>">
  <p>
    <strong>Questionario:</strong>
    <%= respondido.questionario_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= respondido.user_id %>
  </p>

</div>
