<% content_for :title, "Editing respondido" %>

<h1>Editing respondido</h1>

<%= render "form", respondido: @respondido %>

<br>

<div>
  <%= link_to "Show this respondido", @respondido %> |
  <%= link_to "Back to respondidos", respondidos_path %>
</div>
