<p style="color: green"><%= notice %></p>

<% content_for :title, "Respondidos" %>

<h1>Respondidos</h1>

<div id="respondidos">
  <% @respondidos.each do |respondido| %>
    <%= render respondido %>
    <p>
      <%= link_to "Show this respondido", respondido %>
    </p>
  <% end %>
</div>

<%= link_to "New respondido", new_respondido_path %>
