<div id="<%= dom_id questao_option %>">
  <p>
    <strong>Nome:</strong>
    <%= questao_option.nome %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= questao_option.texto %>
  </p>

  <p>
    <strong>Questao:</strong>
    <%= questao_option.questao_id %>
  </p>

</div>
