<div id="<%= dom_id respostum %>">
  <p>
    <strong>Valor:</strong>
    <%= respostum.valor %>
  </p>

  <p>
    <strong>Questao:</strong>
    <%= respostum.questao_id %>
  </p>

  <p>
    <strong>Questionario:</strong>
    <%= respostum.questionario_id %>
  </p>

</div>
