<% content_for :title, "Questionário: #{@questionario.nome}" %>
<h1><%= @questionario.nome %></h1>
<h2><%= "Responda com cuidado, não é possível editar !" %></h2>
<%= render "form", respostum: @respostum %>

<div>
  <%= link_to "Voltar", home_homepage_path %>
</div>
