<div id="<%= dom_id questionario %>">
  <p>
    <strong>Nome:</strong>
    <%= questionario.nome %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= questionario.turma_id %>
  </p>

  <p>
    <strong>Template:</strong>
    <%= questionario.template_id %>
  </p>

</div>
