<div id="<%= dom_id questionario %>">
  <p>
    <strong>Nome:</strong>
    <%= questionario.nome %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= questionario.turma.codigo %>
  </p>

  <p>
    <strong>Materia:</strong>
    <%= questionario.turma.materium.nome %>
  </p>

</div>
