<% content_for :title, "New questionario" %>

<h1>New questionario</h1>
<%= render "form", questionario: @questionario %>

<br>

<div>
  <%= link_to "Back to enviar formulários", home_gerenciamento_enviar_templates_path %>
</div>
