<% content_for :title, "New questionario" %>

<h1>New questionario</h1>

<%= render "form", questionario: @questionario %>

<br>

<div>
  <%= link_to "Back to questionarios", questionarios_path %>
</div>
