<div id="<%= dom_id materium %>">
  <p>
    <strong>Nome:</strong>
    <%= materium.nome %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= materium.codigo %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= materium.departamento_id %>
  </p>

</div>
