<% content_for :title, "New questaos" %>

<h1>New questaos</h1>

<div id="questions-form">
  <%= render "form", questao: @questao %>
</div>

<button type="button" id="add-question">Add Another Question</button>

