<div id="<%= dom_id coordenador %>">
  <p>
    <strong>Departamento:</strong>
    <%= coordenador.departamento_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= coordenador.user_id %>
  </p>

</div>
