<div id="<%= dom_id template %>">
  <p>
    <strong>Nome:</strong>
    <%= template.nome %>
  </p>

  <p>
    <strong>Publico alvo:</strong>
    <%= template.publico_alvo %>
  </p>

  <p>
    <strong>Semestre:</strong>
    <%= template.semestre %>
  </p>

</div>
